<% content_for :title, "Editing evaluation" %>

<h1>Editing evaluation</h1>

<%= render "form", evaluation: @evaluation %>

<br>

<div>
  <%= link_to "Show this evaluation", @evaluation %> |
  <%= link_to "Back to evaluations", evaluations_path %>
</div>
