<p style="color: green"><%= notice %></p>

<% content_for :title, "Evaluations" %>

<h1>Evaluations</h1>

<div id="evaluations">
  <% @evaluations.each do |evaluation| %>
    <%= render evaluation %>
    <p>
      <%= link_to "Show this evaluation", evaluation %>
    </p>
  <% end %>
</div>

<%= link_to "New evaluation", new_evaluation_path %>
